<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="WARN"/>
        </filter>
    </appender>

    <appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>

    <category name="com.indeed.util.varexport.VarExporter">
        <priority value="ERROR" />
    </category>

    <category name="com.indeed.status.core.DependencyPinger">
        <priority value="ERROR" />
    </category>

    <category name="org.apache.zookeeper">
        <priority value="WARN"/>
    </category>

    <category name="com.indeed.webapp.common.tomcat.CatalinaInfo">
        <priority value="ERROR"/>
    </category>
    <category name="org.springframework.beans.factory.xml.XmlBeanDefinitionReader">
        <priority value="ERROR"/>
    </category>

    <root>
        <priority value ="WARN" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
    </root>
</log4j:configuration>

