<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" >

    <display-name>IQL</display-name>

    <absolute-ordering>
        <name>spring_web</name>
        <name>iql_webapp</name>
        <name>ims_rest_server</name>
    </absolute-ordering>
</web-app>
